*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #dba3a3;
  font-size: 16px;
  text-align: center;
  padding: 20px;
}

.gallery-container,
.download-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  background-color: #dfcece;
  padding: 15px;
  border: 1px solid #dfcece;
  border-radius: 18px;
}

.gallery-container {
  margin-bottom: 2rem;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* стили для label */
.title {
  width: 100%;
  font-weight: 700;
  color: rgb(53, 53, 54);
  text-align: center;
  padding: 10px;
}

.hidden {
  display: none;
}
